.grid-wrapper {
  height: 1000px;
  width: 1000px;
  border: 1px solid black;
  margin: 0;
  float: right;
  margin: 0;
  position: absolute;
  right: 200px;
  overflow: scroll;
  z-index: -1;
}

.date-header {
  grid-column-start: 1;
  grid-column-end: 9;
}

.date-hour {
  width: auto;
  height: auto;
  grid-area: subheaders;
}

.grid-slider {
  width: 1600px;
  height: 1000px;
  position: relative;
  display: grid;
  grid-template-columns: ;
  left: 0;
}
