.square-wrapper {
  border-left: solid 1px rgb(215, 215, 215);
  border-right: solid 1px rgb(215, 215, 215);
  border-bottom: dashed 1px rgb(179, 179, 179);
  height: auto;
  text-align: center;
  width: auto;
  position: relative;
}

.square {
  text-align: center;
  height: 50px;
  width: 50px;
}
